body {
  margin: 15px 0;
  background-color: #FDA37E;
  color: white;
  font-family: 'Pristina', serif;
  font-size: 24px;
  overflow-x: hidden;
}

h2:before {
content: "";
width: 100%;
margin: 12px;
display: block;
text-align: left;
}

h2 {
  margin-bottom: 5px;
  font-family: "arial", sans-serif;
}
/* CSS BUTTON */
.button {
  border: none;
  color: white;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 50px;
  border-radius: 4px;
  margin:5px;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  transition: text-shadow 0.3s ease;
}

.paragraph{
  display: inline-block;
  color: white;
  padding: 10px;
  width: 200px;
  box-sizing: border-box;
  background-color: rgba(0,0,0,0.25);
  border: none;
  border-radius: 3px;
  margin: 10px auto;
  transition:background-color 0.5s ease;
}

.results{
  width: 90%;
  font-family: "arial", sans-serif;
  font-size: 16px;
}

div{
  border-radius:4px;
}

.button:active {
  position: relative;
  top: 1px;
  border-bottom-width: 2px;
}

.button:hover {
  text-shadow: 2px 2px 0px rgba(0,0,0,.3)
}

.red {
  background-color: salmon;
  border-color: rgb(150,120,120);
}

.black{
  background-color: #555555;
  border-color: #333333;
}

.pink{
  background-color: pink;
  border-color: pink;
  color:grey;
}


.green {
  background-color: #4CDF78;
  border-color: #53A574;
}

.blue {
  background-color: #19698C;
  border-color: #384B64;
}

.grey{
  background-color: #b7b7b7;
  border-color: #969696;
}

.form {
  display: block;
  width: 250px;
  background-color: #F3EDD3;
  padding:  0;
  text-align: center;
}

.form .form-title {
  text-align: center;
  padding: 5px;
  margin: 0;
  margin-bottom: 15px;
}

.form label {
  color: black;
}

.form input[type=text], .form input[type=password] {
  display: block;
}

input[type=text], input[type=password] {
  display: inline-block;
  color: white;
  padding: 10px;
  width: 200px;
  box-sizing: border-box;
  background-color: rgba(0,0,0,0.25);
  border: none;
  border-radius: 3px;
  margin: 10px auto;
  transition:background-color 0.5s ease;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: rgba(0,0,0,0.45);
}

input[type=submit], input[type=button] {
  color: white;
  display: block;
  width:100%;
  margin-top:15px;
  border: none;
  padding: 5px;
  font-size: 1.1em;
  cursor: pointer;
}

input[type="checkbox"], input[type="radio"]{
	background: rgba(191,185,169,.2);
	height: 16px;
	cursor: pointer;
	border-radius: 4px;
	width:16px;
	-moz-appearance:none;
	-webkit-appearance:none;
	box-shadow: 0 1px 2px rgba(0,0,0,.44) inset;
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.44) inset;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.44) inset;
  vertical-align: middle;
}

input[type="radio"] {
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
}

input[type="checkbox"]:checked, input[type="radio"]:checked {
  background: #5E5D58;
  box-shadow: 0 1px 2px rgba(0,0,0,.44);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.44);
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.44);
  }

::-webkit-input-placeholder {
   color: white;
}

:-moz-placeholder { /* Firefox 18- */
   color: white;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: white;
}

:-ms-input-placeholder {
   color: white;
}
